@font-face {
    font-family: 'Caveat';
    src: url('/assets/fonts/Caveat-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'SourceSans';
    src: url('assets/fonts/SourceSans3VF-Roman.ttf');
  }
  
  