<div class="site-header w-100 bg-indigo-600 py-10 px-10 mb-10 filter drop-shadow-2xl">
  <div class="text-center">
    <h1 class="site-title">
      <a href="/""> {{ site.title }} </a>
    </h1>
    <p class="lead mb-6 text-white">{{ site.description }}</p>
  </div>
  <picture>
    <source media="(max-width: 799px)" srcset="/assets/img/andy-square.jpg" />
    <!-- <source media="(min-width: 800px)" srcset="/assets/img/andy-tall.jpg"> -->
    <img
      class="max-h-full mx-auto mb-6 xl:h-96 md:h-64"
      src="/assets/img/andy-square.jpg"
      alt="Andy Fry eating a cupcake and looking at the Empire State Building"
    />
  </picture>

  <nav class="sidebar-nav flex flex-row align-center justify-center">
    <a class="header-link mr-10" href="/">Home</a>

    {% comment %} The code below dynamically generates a sidebar nav of pages
    with `layout: page` in the front-matter. See readme for usage. {% endcomment
    %} {% assign pages_list = site.pages %} {% for node in pages_list %} {% if
    node.title != null %} {% if node.layout == "page" %}
    <a class="header-link" href="{{ node.url }}">{{ node.title }}</a>
    {% endif %} {% endif %} {% endfor %}
  </nav>
  <!-- 
  <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
</div>
