<div class="js-file-content Details-content--hidden" data-hydro-view="{&quot;event_type&quot;:&quot;pull_request.select_diff_range&quot;,&quot;payload&quot;:{&quot;actor_id&quot;:12447503,&quot;pull_request_id&quot;:826934801,&quot;repository_id&quot;:376936414,&quot;diff_type&quot;:&quot;UNIFIED&quot;,&quot;whitespace_ignored&quot;:false,&quot;originating_url&quot;:&quot;https://github.com/andyfry01/andyfry.co/diffs?base_sha=5222634b69fb06c055500de5085861f1e118efa2&amp;bytes=15730&amp;commentable=true&amp;lines=177&amp;pull_number=1&amp;responsive=true&amp;sha1=5222634b69fb06c055500de5085861f1e118efa2&amp;sha2=42d96fb860b90cfe00910aa8eecda9da47cf0a0c&amp;start_entry=1&amp;sticky=true&amp;w=false&quot;,&quot;user_id&quot;:12447503}}" data-hydro-view-hmac="97e70d1f02e8e6cadcf750243243d5c5ea9a6649ed058d397f48e69def3bcf12">
    <div class="data highlight js-blob-wrapper" style="overflow-x: auto">
      
  
  
      <table class=" diff-table js-diff-table tab-size  " data-tab-size="8" data-diff-anchor="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9c" data-paste-markdown-skip="">
  
            
  <tbody><tr data-position="0">
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cHL0" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cHR1" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
  <td class="blob-code blob-code-inner blob-code-hunk">@@ -0,0 +1,31 @@</td>
  </tr>
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR1" data-line-number="1" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-c1">&lt;!doctype html<span class="pl-kos">&gt;</span></span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR2" data-line-number="2" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;</span><span class="pl-ent">html</span> <span class="pl-c1">lang</span>="<span class="pl-s">en</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR3" data-line-number="3" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;</span><span class="pl-ent">head</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR4" data-line-number="4" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">meta</span> <span class="pl-c1">charset</span>="<span class="pl-s">UTF-8</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR5" data-line-number="5" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">meta</span> <span class="pl-c1">name</span>="<span class="pl-s">viewport</span>"</span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR6" data-line-number="6" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">          <span class="pl-c1">content</span>="<span class="pl-s">width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR7" data-line-number="7" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">meta</span> <span class="pl-c1">http-equiv</span>="<span class="pl-s">X-UA-Compatible</span>" <span class="pl-c1">content</span>="<span class="pl-s">ie=edge</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR8" data-line-number="8" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">title</span><span class="pl-kos">&gt;</span>Tic Tac Toe<span class="pl-kos">&lt;/</span><span class="pl-ent">title</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR9" data-line-number="9" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">link</span> <span class="pl-c1">rel</span>="<span class="pl-s">stylesheet</span>" <span class="pl-c1">href</span>="<span class="pl-s">style.css</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR10" data-line-number="10" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;/</span><span class="pl-ent">head</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR11" data-line-number="11" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;</span><span class="pl-ent">body</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR12" data-line-number="12" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">section</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR13" data-line-number="13" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">        <span class="pl-kos">&lt;</span><span class="pl-ent">h1</span> <span class="pl-c1">class</span>="<span class="pl-s">game--title</span>"<span class="pl-kos">&gt;</span>Tic Tac Toe<span class="pl-kos">&lt;/</span><span class="pl-ent">h1</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR14" data-line-number="14" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">        <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">class</span>="<span class="pl-s">game--container</span>"<span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR15" data-line-number="15" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">0</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  
  <tr class="inline-comments js-inline-comments-container js-skip-tagsearch">
  <td class="line-comments  p-0 p-md-2 js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="3">
    
  
  <div class="js-resolvable-timeline-thread-container" data-resolved="false">
  <div class="border-md hx_remove-border-bottom-on-last-post rounded-2 comment-holder js-line-comments  ">
  
  
  <div class="js-resolvable-thread-contents ">
  <div class="js-comments-holder">
      
  
  <div class="review-comment js-minimizable-comment-group js-targetable-element border-bottom border-sm-0 hx_remove-comment-thread-vertical-line " id="r791042228" data-gid="PRRC_kwDOFneX3s4vJli0" data-url="/_render_node/PRRC_kwDOFneX3s4vJli0/comments/review_comment?variables%5BdeferredCommentActions%5D=false">
  
  
  <div class="previewable-edit js-suggested-changes-container js-task-list-container unminimized-comment js-comment current-user reorderable-task-lists" data-body-version="debf4d640f304a5b2151cc08a9437d44ea511ccb4692b7a628e9f3d1089143ba" data-thread-side="right">
  <div class="edit-comment-hide">
  
  
  <div class="js-suggested-changes-contents" data-thread-side="right">
      <span class="mr-2">
        <a class="d-inline-block" data-hovercard-type="user" data-hovercard-url="/users/andyfry01/hovercard" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/andyfry01"><img class="avatar avatar-user" alt="@andyfry01" src="https://avatars.githubusercontent.com/u/12447503?s=60&amp;u=12e7feaf220d282e87debf4c27e1c6aa00795cb8&amp;v=4" width="28" height="28"></a>
      </span>
  
    <h4 class="f5 text-normal d-inline">
      <strong>
          
  <a class="author Link--primary css-truncate-target " data-hovercard-type="user" data-hovercard-url="/users/andyfry01/hovercard" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/andyfry01">andyfry01</a>
  
  
      </strong>
      <span class="color-fg-muted">
  
          <a href="#r791042228" id="r791042228-permalink" class="js-timestamp Link--secondary d-inline-block">
            <relative-time datetime="2022-01-24T21:03:36Z" class="no-wrap" title="Jan 24, 2022, 2:03 PM MST">8 days ago</relative-time>
          </a>
  
      </span>
  
      </h4>
  
      
  
  
    <task-lists sortable="">
      <div class="ml-sm-6 width-auto mt-2 mt-sm-0 comment-body markdown-body soft-wrap  js-comment-body">
        <p dir="auto">By using <code>div</code> elements, this makes the game inaccessible for screenreader and keyboard users.</p>
  <p dir="auto">Fortunately, in order to remedy this, all you have to do is refactor these into <code>button</code> elements.</p>
  <p dir="auto">Buttons typically have a lot of browser-specific styling associated with them, which drives this tendency to use an unstyled <code>div</code> as a clean slate for designing a custom UI element. However, you can use a CSS button reset to mitigate this and get your buttons looking the way that you want them to. CSS Tricks has <a href="https://css-tricks.com/overriding-default-button-styles/" rel="nofollow">a great blog</a> on the subject.</p>
      </div>
    </task-lists>
  
        
  
        
  
      <div class="ml-sm-6 width-auto mt-2 mt-sm-0">
        
  
  
      </div>
  </div>
  </div>
  
    </div>
  </div>
  
  </div>
  
    
  </div>
  </div>
  </div>
  
  
  </td>
  </tr>
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR16" data-line-number="16" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">1</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR17" data-line-number="17" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">2</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR18" data-line-number="18" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">3</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR19" data-line-number="19" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">4</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR20" data-line-number="20" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">5</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR21" data-line-number="21" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">6</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR22" data-line-number="22" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">7</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR23" data-line-number="23" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">            <span class="pl-kos">&lt;</span><span class="pl-ent">div</span> <span class="pl-c1">data-cell-index</span>="<span class="pl-s">8</span>" <span class="pl-c1">class</span>="<span class="pl-s">cell</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR24" data-line-number="24" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">        <span class="pl-kos">&lt;/</span><span class="pl-ent">div</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR25" data-line-number="25" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">        <span class="pl-kos">&lt;</span><span class="pl-ent">h2</span> <span class="pl-c1">class</span>="<span class="pl-s">game--status</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">h2</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR26" data-line-number="26" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">        <span class="pl-kos">&lt;</span><span class="pl-ent">button</span> <span class="pl-c1">class</span>="<span class="pl-s">game--restart</span>"<span class="pl-kos">&gt;</span>Restart Game<span class="pl-kos">&lt;/</span><span class="pl-ent">button</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR27" data-line-number="27" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;/</span><span class="pl-ent">section</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR28" data-line-number="28" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><br></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR29" data-line-number="29" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+">    <span class="pl-kos">&lt;</span><span class="pl-ent">script</span> <span class="pl-c1">src</span>="<span class="pl-s">script.js</span>"<span class="pl-kos">&gt;</span><span class="pl-kos">&lt;/</span><span class="pl-ent">script</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR30" data-line-number="30" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;/</span><span class="pl-ent">body</span><span class="pl-kos">&gt;</span></span></td>
  </tr>
  
  
  
  <tr data-hunk="6b92112c0687d3dec6ae040b79a85d949d622a31b4e7d01d33fd3b5cbac55c22">
  <td class="blob-num blob-num-addition empty-cell"></td>
  
  <td id="diff-672feddb31de17fc929eff77ee75a0973967a3dc4ee486e9242550ef2b6ceb9cR31" data-line-number="31" class="blob-num blob-num-addition js-linkable-line-number js-code-nav-line-number"></td>
  
  <td class="blob-code blob-code-addition js-file-line">
      <span class="blob-code-inner blob-code-marker js-code-nav-pass " data-code-marker="+"><span class="pl-kos">&lt;/</span><span class="pl-ent">html</span><span class="pl-kos">&gt;</span></span>
  <span class="no-nl-marker tooltipped tooltipped-n" aria-label="No newline at end of file">
    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-no-entry">
  <path d="M4.25 7.25a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5h-7.5z"></path><path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zm-1.5 0a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"></path>
  </svg>
  </span>
  </td>
  </tr>
  
  
  
  
  
      </tbody></table>
    </div>
  
  </div>